@{
    ViewData["Title"] = "Hell And Back";
}

<div class="text-center">
    <h1 class="display-4">Games</h1>
    <p>Hell and Back game.</p>

    @if (0 > 0)
    {
        <h2>Hand</h2>
        <table class="table">
        </table>
    }
    else
    {
        <p>No cards to display.</p>
    }
</div>
